.ios, .md {

    page-signup {
  
      .scroll-content {
        background-color: #DDF6F8;
        display: flex;
        flex-direction: column;
      
      }
  
      img {
        width: 50%;
        height: auto;
        margin: 0 auto;
      }
  
     
  
        ion-row {
          align-items: center;
          text-align: center;
        }
  
        ion-item {
            border-radius: 30px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #FFF;
            opacity: 1;
            direction: rtl;
            font-size: 0.9em;
        }
  
        ion-list {
            margin: 0;
        }
  
        .login-button {
            width: 100%;
            border-radius: 30px;
            font-size: 0.9em;
            border: 1px solid #fff;
            background-color: #FF583D;
        }
  
    }
  
  }